nz-table {
  width: 100%;
}

.container {
  width: 100%;
  overflow-x: auto;
}

.actionDiv{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
