<nz-layout class="layout">
  <nz-header class="header">
    <div class="header-content">
      <div class="logo">
        <img src="/img/logo_b.png" alt="雪谷南榕法律事務所" class="logo-img" routerLink="/home" />
      </div>

      <!-- 桌面導覽列 -->
      <ul nz-menu nzMode="horizontal" class="nav-menu">
        @for (item of navItems; track item.id) {
          @if (item.hasDropdown) {
            <li nz-menu-item [nzSelected]="activeSection === item.id" nz-dropdown
                [nzDropdownMenu]="item.id === 'lawyers' ? lawyersMenu : articlesMenu" (click)="scrollTo(item.id)">
              <span class="nav-zh">
                {{ item.zh }}
                <span nz-icon nzType="down" class="dropdown-arrow"></span>
              </span>
              <span class="nav-en">{{ item.en }}</span>
            </li>
          }
          @else if (item.route) {
            <li nz-menu-item [routerLink]="item.route">
              <span class="nav-zh">{{ item.zh }}</span>
              <span class="nav-en">{{ item.en }}</span>
            </li>
          }
          @else {
            <li nz-menu-item [nzSelected]="activeSection === item.id" (click)="scrollTo(item.id)">
              <span class="nav-zh">{{ item.zh }}</span>
              <span class="nav-en">{{ item.en }}</span>
            </li>
          }
        }
      </ul>

      <button nz-button (click)="open()" class="mobile-menu-btn" nzType="default">
        <span nz-icon nzType="menu-fold" matTooltip="展開導覽列" matTooltipPosition="left"></span>
      </button>

      <!-- Dropdown Menus -->
      <nz-dropdown-menu #lawyersMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item routerLink="/lawyers" [nzSelected]="isActive('/lawyers')">查看全部律師</li>
        </ul>
      </nz-dropdown-menu>

      <nz-dropdown-menu #articlesMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item routerLink="/articles" [nzSelected]="isActive('/articles')">查看全部文章</li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <!-- 手機版 Drawer -->
    @if (isBrowser) {
      <nz-drawer [nzClosable]="true" [nzVisible]="visible" nzPlacement="right" nzTitle="導覽列" (nzOnClose)="close()" [nzWidth]="220"
        nzMaskClosable="false">
        <ng-container *nzDrawerContent>
          <ul nz-menu nzMode="inline" class="mobile-nav-menu">
            @for (item of navItems; track item.id) {
              @if (item.hasDropdown) {
                <!-- 有下拉選單 -->
                <li nz-submenu [nzOpen]="false">
                  <span title (click)="handleNavClick(item)">
                    <span class="nav-zh">{{ item.zh }}</span>
                    <span class="nav-en">{{ item.en }}</span>
                  </span>
                  <ul>
                    @if (item.id === 'lawyers') {
                      <li nz-menu-item routerLink="/lawyers" (click)="close()"
                        [nzSelected]="isActive('/lawyers')">查看全部律師</li>
                    }
                    @if (item.id === 'articles') {
                      <li nz-menu-item routerLink="/articles" (click)="close()"
                        [nzSelected]="isActive('/articles')">查看全部文章</li>
                    }
                  </ul>
                </li>
              }
              @else if (item.route) {
                <!-- 有路由連結 -->
                <li nz-menu-item [routerLink]="item.route" (click)="close()">
                  <span class="nav-zh">{{ item.zh }}</span>
                  <span class="nav-en">{{ item.en }}</span>
                </li>
              }
              @else {
                <!-- 一般滾動 -->
                <li nz-menu-item (click)="handleNavClick(item)">
                  <span class="nav-zh">{{ item.zh }}</span>
                  <span class="nav-en">{{ item.en }}</span>
                </li>
              }
            }
          </ul>
        </ng-container>
      </nz-drawer>
    }
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>

  <nz-divider></nz-divider>
  <nz-footer class="footer">
    <div class="footer-content">
      <p class="copyright">© 2025 雪谷南榕法律事務所</p>
    </div>
  </nz-footer>
</nz-layout>
